
<div class="col-3 card border-info my-3 ml-5 p-1">
    <div class="card-body">
        <h4 class="card-title h3 pb-3 text-success">My Django Blog</h4>
        <p class="card-text">
            Welcome to my blog!
        </p>
        <p class="card-text">
            Browse around and see if you find anything you like. The posts are nonsense now, but maybe one day they won't be!
        </p>
        <p class="pt-3">
            <ins>TODOs:</ins>
            <ul class="text-secondary">
                <li>Add more styling.</li>
                <li>Add a footer.</li>
                <li>Make the header more unique.</li>
                <li>Add comments feature.</li>
                <li>Add tags feature.</li>
                <li>Add the ability to share posts via email.</li>
            </ul>
        </p>
    </div>
</div>