
{% load blog_tags %}

<div class="col-3 card border-info rounded mt-4 ml-5 p-1 h-50">
    <div class="card-body">
        <h4 class="card-title h3 pb-3 text-success"><ins>My Django Blog</ins></h4>
        <p class="card-text">Welcome!</p>
        <p class="card-text">
            Browse around and see if you find anything you like. The posts are nonsense now, but maybe one day they won't be!
        </p>

        <p><strong>Total Posts:</strong> {% total_posts %}</p>

        <hr>

        <div class="my-2">
            <h3><ins>Quick Links</ins></h3>
            <h5 class="pl-2">
                <a href="/blog" class="text-warning text-decoration-none">Home</a>
            </h5>
        </div>

        <hr>

        <div class="my-2">
            <h3><ins>Latest Posts</ins></h3>
            {% show_latest_posts 3 %}
        </div>

    </div>
</div>