
{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="border border-3 border-dark rounded my-4 p-4">
    <h1>{{ post.title }}</h1>
    <p class="date text-muted text-right border-bottom pb-2 pr-1 mb-4">
        Published: {{ post.publish }} by {{ post.author }}
    </p>

    <div class="px-1">
        {{ post.body | linebreaks }}
    </div>

    <div class="text-right">
        <a href="{% url 'blog:post_share' post.id %}" class="">
            <span class="bg-info px-3 py-2 rounded-pill">Share this Post</span>
        </a>
    </div>
</div>
    

{% endblock %}