

{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Bloggio{% endblock %}

{% block content %}
    <a href="/blog" class="text-decoration-none">
        <h1 class="display-4 text-info mt-4 pb-4 border-bottom border-secondary">
            Bloggio
        </h1>
    </a>    
    
    <div class="d-flex flex-column my-4">

        {% if tag %}
            <h3>Posts tagged with <span class="text-success">"{{ tag.name }}"</span></h3>
        {% endif %}

        {% for post in posts %}
            <div class="border rounded  border-secondary my-2 p-3">
                <h2 class="">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <p class="text-muted">
                    <span class="mr-2">{{ post.publish }} by {{ post.author }}.</span>
                    <span class="tags">
                        {% for tag in post.tags.all %}
                            <span class="badge bg-info text-wrap">
                                <a  href="{% url 'blog:post_list_by_tag' tag.slug %}"
                                    class="text-decoration-none text-light">
                                    {{ tag.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </span>
                </p>
    
                {{  post.body | markdown | truncatewords_html:30 }}
            </div>
        {% endfor %}
    </div>

    {% include "./components/pagination.html" with page=posts %}
{% endblock %}