
{% extends "blog/base.html" %}
{% load widget_tweaks %}

{% block title %}Share a post{% endblock %}

{% block content %}

<div class="mt-4">
    {% if sent %}
        <hr>
        <h1>Email Sent Successfully!</h1>
        <p class="pl-1">
            "{{ post.title }}" was successfully sent to <strong>{{ form.cleaned_data.to }}</strong>.
        </p>
        <hr>

    {% else %}
        <h1 class="mb-4">Share "{{ post.title }}" by Email!</h1>
        <form class="pl-4 py-3" method="POST">
            {% csrf_token %}
            {{ form.errors }}

            <div class="my-4">
               {{ form.name | add_class:"px-2" | append_attr:"placeholder=Name"}}
               {{ form.email  | add_class:"px-2 mx-3" | append_attr:"placeholder=Email"}}
            </div>

            <div class="mb-4">
                {{ form.to.label }}: 
                {{ form.to | add_class:"px-2" | append_attr:"placeholder=Recipient"}}
             </div>

             <div>
                {{ form.comments | add_class:"p-3" | append_attr:"placeholder=Comments..."}}
             </div>

            <input type="submit" value="Send Email" class="py-1 px-2 ml-3 mt-3">
        </form>
    {% endif %}
</div>

{% endblock %}