
{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}

<div class="mt-4">
    {% if sent %}
        <hr>
        <h1>Email Sent Successfully!</h1>
        <p class="pl-1">
            "{{ post.title }}" was successfully sent to <strong>{{ form.cleaned_data.to }}</strong>.
        </p>
        <hr>

    {% else %}
        <h1 class="mb-4">Share "{{ post.title }}" by Email!</h1>
        <form class="pl-4" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    {{ field.errors }}
                    <div class="mt-3"> {{ field.label_tag }} </div>
                    {{ field }}
                </div>
            {% endfor %}

            <input type="submit" value="Send Email">
        </form>

    {% endif %}
</div>
{% endblock %}